<nav class="navbar navbar-top" style="background-color: rgb(168, 236, 233); max-width: 95%;" id="navbar-main">
  <div class="container-fluid">
    <!-- Form -->
    <form class="navbar-search form-inline mr-3 ml-lg-auto">
      <div class="media align-items-center">
        <span class="avatar avatar-sm rounded-circle mr-3" style="background-color: white;">
          <img alt="" src="..\..\assets\img\icons\mail.jpg">
        </span>
      </div>
      <div class="media align-items-center">
        <span class="avatar avatar-sm rounded-circle mr-3" style="background-color: white;">
          <img alt="" src="..\..\assets\img\icons\notification.png">
        </span>
      </div>
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative" style="background-color: white; border: transparent;">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search..." type="text" style="color: rgb(139, 139, 139);">
        </div>
      </div>
    </form>
  </div>
</nav>