<nav class="navbar navbar-top" style="background-color: rgb(168, 236, 233); max-width: 95%;" id="navbar-main">
  <div class="container-fluid">
    <!-- Form -->
    <form class="navbar-search form-inline mr-3 ml-lg-auto">
      <div class="media align-items-center mr-3">
        <button mat-mini-fab style="background-color: rgb(255, 255, 255);">
          <mat-icon style="color: rgb(143, 238, 241); transform: scale(1);">mail_outline</mat-icon>
        </button>
      </div>
      <div class="media align-items-center mr-3">
        <button mat-mini-fab style="background-color: rgb(255, 255, 255); margin-right: 5%;">
          <mat-icon style="color: rgb(143, 238, 241); transform: scale(1);">notifications_none</mat-icon>
        </button>
      </div>
      <div class="form-group mb-0">
        <div class="input-group input-group-alternative" style="background-color: white; border: transparent;">
          <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <input class="form-control" placeholder="Search..." type="text" style="color: rgb(139, 139, 139);">
        </div>
      </div>
    </form>
  </div>
</nav>