<nav class="navbar navbar-vertical navbar-expand-md navbar-light" style="background-color: transparent; box-shadow: none !important; margin-top: 7%;" id="sidenav-main">
  <div class="container-fluid">    
    <!-- Collapse -->
    <div class="navbar-collapse">
      <!-- Navigation -->
      <ul class="navbar-nav">
          <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item" style="margin-bottom: 10%;">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                  <i class="ni {{menuItem.icon}}"></i>
                  {{menuItem.title}}
              </a>
          </li>
      </ul>
    </div>
  </div>
</nav>