<nav class="navbar navbar-vertical navbar-expand-md navbar-light" style="background-color: rgb(168, 236, 233); border-right: 1px solid rgb(109, 102, 102);" id="sidenav-main">
  <div class="container-fluid">    
    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
      <!-- Navigation -->
      <ul class="navbar-nav">
          <li *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
              <a routerLinkActive="active" [routerLink]="[menuItem.path]" class="nav-link">
                  <i class="ni {{menuItem.icon}}"></i>
                  {{menuItem.title}}
              </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
