<div class="header pb-8 pt-5 pt-md-7" style="background-color: rgb(168, 236, 233);">
  <div class="container-fluid mb-3">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-md-10">
          <h1 style="color: rgb(16, 52, 66);"><b>Dashboard</b></h1><br>
        </div>
        <div class="col-md-2">
          <div class="icon icon-shape text-white rounded-circle shadow" style="background-color: rgb(70, 158, 180);">
            <i class="fas fa-plus"></i>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p style="color: rgb(16, 52, 66);">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row ml-3" style="display: flex;">
        <div class="col-10">
          <div class="row">
            <div class="col-4">
              <div class="card" style="border-radius: 15%;">
                <div class="card-body">
                  <div class="row">
                    <h4 class="card-title" style="color: rgb(16, 52, 66); margin: 4%;">Terraliving Branding, Website and Illustration</h4>
                  </div>
                  <div class="row">
                    <p style="color: rgb(72, 78, 78); margin: 5%; font-size: 0.75em;">Terraliving is bio lab that focus on creating ecosystem to bring...</p>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span class="avatar avatar-sm rounded-circle" style="margin: 4%;">
                        <img alt="" src="..\..\assets\img\icons\person1.jpg">
                      </span>
                    </div>
                    <div class="col" style="margin-top: 5%; margin-right: 4%;">
                      <progress value="40" max="100" style="width: 100%;"></progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="border-radius: 15%;">
                <div class="card-body">
                  <div class="row">
                    <h4 class="card-title" style="color: rgb(16, 52, 66); margin: 4%;">Eyegineering 3D Website Illustration</h4>
                  </div>
                  <div class="row">
                    <p style="color: rgb(72, 78, 78); margin: 5%; font-size: 0.75em;">Most people doesn't take attention on their ayes whether...</p>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span class="avatar avatar-sm rounded-circle" style="margin: 4%;">
                        <img alt="" src="..\..\assets\img\icons\person2.png">
                      </span>
                    </div>
                    <div class="col" style="margin-top: 5%; margin-right: 4%;">
                      <progress value="70" max="100" style="width: 100%;"></progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card" style="border-radius: 15%;">
                <div class="card-body">
                  <div class="row">
                    <h4 class="card-title" style="color: rgb(16, 52, 66); margin: 4%;">Naturalicious Website Design and Development</h4>
                  </div>
                  <div class="row">
                    <p style="color: rgb(72, 78, 78); margin: 5%; font-size: 0.75em;">Naturalicious is company that focus to make people gain nutri...</p>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span class="avatar avatar-sm rounded-circle" style="margin: 4%;">
                        <img alt="" src="..\..\assets\img\icons\person3.png">
                      </span>
                    </div>
                    <div class="col" style="margin-top: 5%; margin-right: 4%;">
                      <progress value="50" max="100" style="width: 100%;"></progress>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2" style="display: flex;">
          <div class="row">
            <div class="card" style="writing-mode: vertical-rl; border-radius: 15%; text-align: center;">
              <div class="card-body">
                <h5 class="card-title text-uppercase">View All Projects</h5>
              </div>
            </div>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7" style="background-color: rgb(168, 236, 233);">
  <div class="row">
    <div class="col-xl-6">
      <div class="card" style="background-color: rgb(168, 236, 233); border: transparent;">
        <div class="card-header bg-transparent">
          <div class="row align-items-center mb-5">
            <div class="col-9">
              <h2 class="mb-0" style="color: rgb(16, 52, 66);">Project Overview</h2>
            </div>
            <div class="col-3">
              <button class="favorite styled" type="button" style="border: transparent; height: 50px; border-radius: 12px; background-color: white; color: rgb(16, 52, 66); cursor: pointer;">
                This month &#x25BC;</button>
            </div>
          </div>
          <div class="row align-items-center">
            <div class="col-4" style="text-align: center;">
              <h1 class="mb-0" style="color: rgb(16, 52, 66);">85</h1><br>
              <h6 class="mb-0" style="color: rgb(16, 52, 66);">Design</h6>
            </div>
            <div class="col-4">
              <h1 class="mb-0" style="color: rgb(16, 52, 66);">48</h1><br>
              <h6 class="mb-0" style="color: rgb(16, 52, 66);">Development</h6>
            </div>
            <div class="col-4">
              <div class="row mb-2">
                <span class="avatar avatar-sm rounded-circle" style="margin: 4%; background-color: '#35E5E0'; width: 20px; height: 20px;">
                </span>
                <div class="row ml-1" style="padding-left: 10%; padding-top: 5%;">
                  <h5 style="color: rgb(16, 52, 66);">Design</h5>
                </div>
              </div>
              <div class="row">
                <span class="avatar avatar-sm rounded-circle" style="margin: 4%; background-color: '#1D61BE'; width: 20px; height: 20px;">
                </span>
                <div class="row ml-1" style="padding-left: 10%; padding-top: 5%;">
                  <h5 style="color: rgb(16, 52, 66);">Development</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="border: transparent; border-right: 1px solid rgb(209, 209, 209);">
          <!-- Chart -->
          <div class="chart">
            <canvas id="chart-orders" class="chart-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6">
      <div class="card" style="background-color: rgb(168, 236, 233); border: transparent;">
        <div class="card-header bg-transparent">
          <div class="row align-items-center mb-4">
            <div class="col-9">
              <h2 class="mb-0" style="color: rgb(16, 52, 66);">Recent Activity</h2>
            </div>
            <div class="col-3">
              <h5 class="mb-0" style="color: rgb(16, 52, 66);">View All</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mt-4">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="" src="..\..\assets\img\icons\person1.jpg">
              </span>
            </div>
            <div class="col-11">
              <div class="card" style="border-radius: 15%; background-color: transparent; border: transparent;">
                <div class="card-body">
                  <div class="row">
                    <h4 class="card-title" style="color: rgb(16, 52, 66);">Sigit Setyo Nugroho Mentioned you in <b>Superstar Website Design</b></h4>
                  </div>
                  <div class="row">
                    <p style="color: rgb(72, 78, 78); font-size: 0.75em;">Ini update buat designnya, tapi masih ada beberapa elemen yang kurang mashbook..</p>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <span class="avatar avatar-sm rounded-circle" style="background-color: white;">
                        <img alt="" src="..\..\assets\img\icons\zip.png">
                      </span>
                    </div>
                    <div class="col-6">
                      <h4 class="card-title" style="color: rgb(16, 52, 66);">Superstar All Page Design.zip</h4>
                      <h6 class="card-title" style="color: rgb(16, 52, 66);">12.6 MB</h6>
                    </div>
                  </div>
                  <hr>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-1 mt-4">
              <span class="avatar avatar-sm rounded-circle">
                <img alt="" src="..\..\assets\img\icons\person2.png">
              </span>
            </div>
            <div class="col-11">
              <div class="card" style="border-radius: 15%; background-color: transparent; border: transparent;">
                <div class="card-body">
                  <div class="row">
                    <h4 class="card-title" style="color: rgb(16, 52, 66);">Ardias Ega Kurnia Commented on <b>Superstar Header Illustration</b></h4>
                  </div>
                  <div class="row">
                    <p style="color: rgb(72, 78, 78); font-size: 0.75em;">Iki illustrate kurang jreng deh warname coba di kek'i warna sing lebih ngejreng</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
